@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif;
  }

.posi {
    transform: translate(-50%, -50%)
}

.posi2 {
    transform: translate(50%, -50%)
}

.Hover-banner:hover {
    .btn-hover {
        opacity: 1;
        transition: .4s;
        left: -160px;
    }

    .btn-hover2 {
        opacity: 1;
        transition: .4s;
        right: -160px;
    }
}

.Hover:hover {
    .btn-hover {
        opacity: 1;
        transition: .4s;
        left: -50px;
    }

    .btn-hover2 {
        opacity: 1;
        transition: .4s;
        right: -50px;
    }
}

/* .footer-li:hover{
    color: #e53e29;
}

.footer-li:hover::before{
    content: "//"; 
    color: #e53e29;
} */


.footer-li {
    position: relative;
    cursor: pointer;
}

.footer-li:hover{
    color: #e53e29;
    transform: translateX(25px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.footer-li::before {
    content: "//";
    position: absolute;
    left: -10px; 
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #e53e29;
}

.footer-li:hover::before {
    opacity: 1;
    transform: translateX(0);
    left: -20px;
}


.contact-li:hover{
    color: #e53e29;
    transform: translateX(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.contact-li::before {
    content: "";
    position: absolute;
    left: -10px; 
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #e53e29;
}

.contact-li:hover::before {
    opacity: 1;
    transform: translateX(0);
    left: -5px;
}

